html
    head
        link(rel='stylesheet' href='index.css')
    body
        div.container
            header
                h1 #{placeholder}
            sidebar1
                h1 #{placeholder}
            article
                h1 #{placeholder}
            sidebar2
                h1 #{placeholder}
            footer
                h1 #{placeholder}